.menu-container {
  p-card {
    .ui-card {
      height: 100%;
    }
    // .ui-card-body {
    //   width: 250px;
    //   height: 100%;

    //   .ui-card-content {
    //     height: 100%;
    //   }
    // }
  }
}

.registration-component {
  .ui-button {
    background-color: #20b8d6;
    border: 1px solid #20b8d6;
  }
}
