.navigation-bar-card {
    .ui-card-body {
        background-color: #b1217a;
        border-radius: 2px;
    }
}

.registration-component {
    .ui-button {
        background-color: #20b8d6;
        border: 1px solid #20b8d6;
    }
}
